@font-face {
    font-family: 'Barlow';
    src: url("./font/Barlow-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Bellefair';
    src: url("./font/Bellefair-Regular.ttf");
    font-weight: 400;
}