@font-face {
  font-family: "Barlow";

  src: url("/css/font/Barlow-Regular.ttf") format("truetype");

  font-weight: 400;
}

@font-face {
  font-family: 'Bellefair';

  src: url("font/Bellefair-Regular.ttf") format("truetype");

  font-weight: 400;
}

.form-container {
  background-color: var(--col-primary);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 5px 14px 2px rgba(0, 0, 0, 0.37);
}

.form-container h2 {
  font-weight: 800;
  font-size: 3rem;
  line-height: 1;
  padding-bottom: 2.5rem;
  text-align: center;
  width: 100%;
}

.form-container form {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-container form button {
  align-self: flex-end;
}

.form-container form select {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.form-container form textarea {
  background-color: var(--col-highlight);
  border: none;
  outline: none;
  resize: none;
  color: azure;
}

.ad-dashboard {
  display: flex;
  justify-content: space-between;
}

.ad-dashboard h2 {
  font-weight: 800;
  font-size: 3rem;
  line-height: 1;
}

.admin-container {
  position: relative;
  height: 500px;
  background: var(--col-primary);
  margin-left: auto;
  margin-right: auto;
  flex-grow: 1;
  overflow: auto;
}

.admin-container h2 {
  font-weight: 800;
  font-size: 3rem;
  text-align: center;
  padding: 0.8rem;
}

.admin-container .adc-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 3rem;
}

.admin-container .adc-head h2 {
  flex-grow: 1;
}

.admin-container-content {
  /* margin-left: 20%; */
  padding-left: 2rem;
  padding-right: 2rem;
}

.admin-container-content table {
  margin-left: auto;
  margin-right: auto;
  min-width: 50%;
  table-layout: auto;
  text-align: left;
}

.admin-container-content table th {
  background-color: var(--col-secondary);
  padding: 0.8rem;
  color: black;
}

.admin-container-content table td {
  width: auto;
  white-space: nowrap;
  padding: 0.8rem;
  border-bottom: 1px solid var(--col-secondary);
}

.admin-sidebar {
  width: 15%;
  max-width: 200px;
  background: var(--col-primary);
}

.admin-sidebar ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.admin-sidebar ul li {
  padding: 1rem 0 1rem 0;
  width: 100%;
}

.admin-sidebar ul li:hover {
  background-color: var(--col-secondary);
}

.admin-sidebar a {
  margin-left: 1.2rem;
}

/* Primary Navigation */

header {
  font-family: "Barlow", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-nav-toggle {
  display: none;
}

.nav_avatar {
  width: 2.5rem;
  height: 2.5rem;
  border: 0.3rem solid;
}

.nav__profile {
  position: relative;
  cursor: pointer;
}

.nav__profile ul {
  position: absolute;
  top: 115%;
  right: 0;
  display: block;
}

.nav__profile ul li {
  opacity: 0;
  -webkit-animation: animateDropdown 200ms 0s ease forwards;
  animation: animateDropdown 200ms 0s ease forwards;
  transform-origin: top;
}

.nav__profile ul li:nth-child(2) {
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
}

@-webkit-keyframes animateDropdown {
  0% {
    transform: rotateX(90deg);
  }

  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}

@keyframes animateDropdown {
  0% {
    transform: rotateX(90deg);
  }

  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}

.nav__profile ul[data-visible=false] {
  display: none;
}

.primary-navigation {
  padding: 0;
  margin: 0;
  background: hsla(0deg, 0%, 100%, 0.1);
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);
  gap: 1rem;
}

.primary-navigation a:hover {
  color: var(--col-secondary);
}

.primary-navigation a > [aria-hidden=true] {
  font-weight: 700;
  -webkit-margin-end: 0.35rem;
  margin-inline-end: 0.35rem;
}

/*
 * CKEditor 5 (v35.2.1) content styles.
 * Generated on Fri, 14 Oct 2022 09:47:42 GMT.
 * For more information, check out https://ckeditor.com/docs/ckeditor5/latest/installation/advanced/content-styles.html
 */

/* ckeditor5-basic-styles/theme/code.css */

.ck-content code {
  background-color: hsla(0, 0%, 78%, 0.3);
  padding: .15em;
  border-radius: 2px;
}

/* ckeditor5-block-quote/theme/blockquote.css */

.ck-content blockquote {
  overflow: hidden;
  padding-right: 1.5em;
  padding-left: 1.5em;
  margin-left: 0;
  margin-right: 0;
  font-style: italic;
  border-left: solid 5px hsl(0, 0%, 80%);
}

/* ckeditor5-block-quote/theme/blockquote.css */

.ck-content[dir="rtl"] blockquote {
  border-left: 0;
  border-right: solid 5px hsl(0, 0%, 80%);
}

/* ckeditor5-font/theme/fontsize.css */

.ck-content .text-tiny {
  font-size: .7em;
}

/* ckeditor5-font/theme/fontsize.css */

.ck-content .text-small {
  font-size: .85em;
}

/* ckeditor5-font/theme/fontsize.css */

.ck-content .text-big {
  font-size: 1.4em;
}

/* ckeditor5-font/theme/fontsize.css */

.ck-content .text-huge {
  font-size: 1.8em;
}

/* ckeditor5-highlight/theme/highlight.css */

.ck-content .marker-yellow {
  background-color: var(--ck-highlight-marker-yellow);
}

/* ckeditor5-highlight/theme/highlight.css */

.ck-content .marker-green {
  background-color: var(--ck-highlight-marker-green);
}

/* ckeditor5-highlight/theme/highlight.css */

.ck-content .marker-pink {
  background-color: var(--ck-highlight-marker-pink);
}

/* ckeditor5-highlight/theme/highlight.css */

.ck-content .marker-blue {
  background-color: var(--ck-highlight-marker-blue);
}

/* ckeditor5-highlight/theme/highlight.css */

.ck-content .pen-red {
  color: var(--ck-highlight-pen-red);
  background-color: transparent;
}

/* ckeditor5-highlight/theme/highlight.css */

.ck-content .pen-green {
  color: var(--ck-highlight-pen-green);
  background-color: transparent;
}

/* ckeditor5-image/theme/image.css */

.ck-content .image {
  display: table;
  clear: both;
  text-align: center;
  margin: 0.9em auto;
  min-width: 50px;
}

/* ckeditor5-image/theme/image.css */

.ck-content .image img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  min-width: 100%;
}

/* ckeditor5-image/theme/image.css */

.ck-content .image-inline {
  /*
     * Normally, the .image-inline would have "display: inline-block" and "img { width: 100% }" (to follow the wrapper while resizing).;
     * Unfortunately, together with "srcset", it gets automatically stretched up to the width of the editing root.
     * This strange behavior does not happen with inline-flex.
     */
  display: inline-flex;
  max-width: 100%;
  align-items: flex-start;
}

/* ckeditor5-image/theme/image.css */

.ck-content .image-inline picture {
  display: flex;
}

/* ckeditor5-image/theme/image.css */

.ck-content .image-inline picture,
.ck-content .image-inline img {
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 100%;
}

/* ckeditor5-image/theme/imagecaption.css */

.ck-content .image>figcaption {
  display: table-caption;
  caption-side: bottom;
  word-break: break-word;
  color: var(--ck-color-image-caption-text);
  background-color: var(--ck-color-image-caption-background);
  padding: .6em;
  font-size: .75em;
  outline-offset: -1px;
}

/* ckeditor5-image/theme/imageresize.css */

.ck-content .image.image_resized {
  max-width: 100%;
  display: block;
  box-sizing: border-box;
}

/* ckeditor5-image/theme/imageresize.css */

.ck-content .image.image_resized img {
  width: 100%;
}

/* ckeditor5-image/theme/imageresize.css */

.ck-content .image.image_resized>figcaption {
  display: block;
}

/* ckeditor5-image/theme/imagestyle.css */

.ck-content .image-style-block-align-left,
.ck-content .image-style-block-align-right {
  max-width: calc(100% - var(--ck-image-style-spacing));
}

/* ckeditor5-image/theme/imagestyle.css */

.ck-content .image-style-align-left,
.ck-content .image-style-align-right {
  clear: none;
}

/* ckeditor5-image/theme/imagestyle.css */

.ck-content .image-style-side {
  float: right;
  margin-left: var(--ck-image-style-spacing);
  max-width: 50%;
}

/* ckeditor5-image/theme/imagestyle.css */

.ck-content .image-style-align-left {
  float: left;
  margin-right: var(--ck-image-style-spacing);
}

/* ckeditor5-image/theme/imagestyle.css */

.ck-content .image-style-align-center {
  margin-left: auto;
  margin-right: auto;
}

/* ckeditor5-image/theme/imagestyle.css */

.ck-content .image-style-align-right {
  float: right;
  margin-left: var(--ck-image-style-spacing);
}

/* ckeditor5-image/theme/imagestyle.css */

.ck-content .image-style-block-align-right {
  margin-right: 0;
  margin-left: auto;
}

/* ckeditor5-image/theme/imagestyle.css */

.ck-content .image-style-block-align-left {
  margin-left: 0;
  margin-right: auto;
}

/* ckeditor5-image/theme/imagestyle.css */

.ck-content p+.image-style-align-left,
.ck-content p+.image-style-align-right,
.ck-content p+.image-style-side {
  margin-top: 0;
}

/* ckeditor5-image/theme/imagestyle.css */

.ck-content .image-inline.image-style-align-left,
.ck-content .image-inline.image-style-align-right {
  margin-top: var(--ck-inline-image-style-spacing);
  margin-bottom: var(--ck-inline-image-style-spacing);
}

/* ckeditor5-image/theme/imagestyle.css */

.ck-content .image-inline.image-style-align-left {
  margin-right: var(--ck-inline-image-style-spacing);
}

/* ckeditor5-image/theme/imagestyle.css */

.ck-content .image-inline.image-style-align-right {
  margin-left: var(--ck-inline-image-style-spacing);
}

/* ckeditor5-language/theme/language.css */

.ck-content span[lang] {
  font-style: italic;
}

/* ckeditor5-list/theme/todolist.css */

.ck-content .todo-list {
  list-style: none;
}

/* ckeditor5-list/theme/todolist.css */

.ck-content .todo-list li {
  margin-bottom: 5px;
}

/* ckeditor5-list/theme/todolist.css */

.ck-content .todo-list li .todo-list {
  margin-top: 5px;
}

/* ckeditor5-list/theme/todolist.css */

.ck-content .todo-list .todo-list__label>input {
  display: inline-block;
  position: relative;
  width: var(--ck-todo-list-checkmark-size);
  height: var(--ck-todo-list-checkmark-size);
  vertical-align: middle;
  border: 0;
  left: -25px;
  margin-right: -15px;
  right: 0;
  margin-left: 0;
}

/* ckeditor5-list/theme/todolist.css */

.ck-content .todo-list .todo-list__label>input::before {
  display: block;
  position: absolute;
  box-sizing: border-box;
  content: '';
  width: 100%;
  height: 100%;
  border: 1px solid hsl(0, 0%, 20%);
  border-radius: 2px;
  transition: 250ms ease-in-out box-shadow, 250ms ease-in-out background, 250ms ease-in-out border;
}

/* ckeditor5-list/theme/todolist.css */

.ck-content .todo-list .todo-list__label>input::after {
  display: block;
  position: absolute;
  box-sizing: content-box;
  pointer-events: none;
  content: '';
  left: calc(var(--ck-todo-list-checkmark-size) / 3);
  top: calc(var(--ck-todo-list-checkmark-size) / 5.3);
  width: calc(var(--ck-todo-list-checkmark-size) / 5.3);
  height: calc(var(--ck-todo-list-checkmark-size) / 2.6);
  border-style: solid;
  border-color: transparent;
  border-width: 0 calc(var(--ck-todo-list-checkmark-size) / 8) calc(var(--ck-todo-list-checkmark-size) / 8) 0;
  transform: rotate(45deg);
}

/* ckeditor5-list/theme/todolist.css */

.ck-content .todo-list .todo-list__label>input[checked]::before {
  background: hsl(126, 64%, 41%);
  border-color: hsl(126, 64%, 41%);
}

/* ckeditor5-list/theme/todolist.css */

.ck-content .todo-list .todo-list__label>input[checked]::after {
  border-color: hsl(0, 0%, 100%);
}

/* ckeditor5-list/theme/todolist.css */

.ck-content .todo-list .todo-list__label .todo-list__label__description {
  vertical-align: middle;
}

/* ckeditor5-media-embed/theme/mediaembed.css */

.ck-content .media {
  clear: both;
  margin: 0.9em 0;
  display: block;
  min-width: 15em;
}

/* ckeditor5-page-break/theme/pagebreak.css */

.ck-content .page-break {
  position: relative;
  clear: both;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ckeditor5-page-break/theme/pagebreak.css */

.ck-content .page-break::after {
  content: '';
  position: absolute;
  border-bottom: 2px dashed hsl(0, 0%, 77%);
  width: 100%;
}

/* ckeditor5-page-break/theme/pagebreak.css */

.ck-content .page-break__label {
  position: relative;
  z-index: 1;
  padding: .3em .6em;
  display: block;
  text-transform: uppercase;
  border: 1px solid hsl(0, 0%, 77%);
  border-radius: 2px;
  font-family: Helvetica, Arial, Tahoma, Verdana, Sans-Serif;
  font-size: 0.75em;
  font-weight: bold;
  color: hsl(0, 0%, 20%);
  background: hsl(0, 0%, 100%);
  box-shadow: 2px 2px 1px hsla(0, 0%, 0%, 0.15);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* ckeditor5-table/theme/tablecaption.css */

.ck-content .table>figcaption {
  display: table-caption;
  caption-side: top;
  word-break: break-word;
  text-align: center;
  color: var(--ck-color-table-caption-text);
  background-color: var(--ck-color-table-caption-background);
  padding: .6em;
  font-size: .75em;
  outline-offset: -1px;
}

/* ckeditor5-table/theme/table.css */

.ck-content .table {
  margin: 0.9em auto;
  display: table;
}

/* ckeditor5-table/theme/table.css */

.ck-content .table table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  height: 100%;
  border: 1px double hsl(0, 0%, 70%);
}

/* ckeditor5-table/theme/table.css */

.ck-content .table table td,
.ck-content .table table th {
  min-width: 2em;
  padding: .4em;
  border: 1px solid hsl(0, 0%, 75%);
}

/* ckeditor5-table/theme/table.css */

.ck-content .table table th {
  font-weight: bold;
  background: hsla(0, 0%, 0%, 5%);
}

/* ckeditor5-table/theme/table.css */

.ck-content[dir="rtl"] .table th {
  text-align: right;
}

/* ckeditor5-table/theme/table.css */

.ck-content[dir="ltr"] .table th {
  text-align: left;
}

/* ckeditor5-table/theme/tablecolumnresize.css */

.ck-content .table .ck-table-resized {
  table-layout: fixed;
}

/* ckeditor5-table/theme/tablecolumnresize.css */

.ck-content .table table {
  overflow: hidden;
}

/* ckeditor5-table/theme/tablecolumnresize.css */

.ck-content .table td,
.ck-content .table th {
  position: relative;
}

/* ckeditor5-code-block/theme/codeblock.css */

.ck-content pre {
  padding: 1em;
  color: hsl(0, 0%, 20.8%);
  background: hsla(0, 0%, 78%, 0.3);
  border: 1px solid hsl(0, 0%, 77%);
  border-radius: 2px;
  text-align: left;
  direction: ltr;
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
  white-space: pre-wrap;
  font-style: normal;
  min-width: 200px;
}

/* ckeditor5-code-block/theme/codeblock.css */

.ck-content pre code {
  background: unset;
  padding: 0;
  border-radius: 0;
}

/* ckeditor5-horizontal-line/theme/horizontalline.css */

.ck-content hr {
  margin: 15px 0;
  height: 4px;
  background: hsl(0, 0%, 87%);
  border: 0;
}

/* ckeditor5-list/theme/liststyles.css */

.ck-content ol {
  list-style-type: decimal;
}

/* ckeditor5-list/theme/liststyles.css */

.ck-content ol ol {
  list-style-type: lower-latin;
}

/* ckeditor5-list/theme/liststyles.css */

.ck-content ol ol ol {
  list-style-type: lower-roman;
}

/* ckeditor5-list/theme/liststyles.css */

.ck-content ol ol ol ol {
  list-style-type: upper-latin;
}

/* ckeditor5-list/theme/liststyles.css */

.ck-content ol ol ol ol ol {
  list-style-type: upper-roman;
}

/* ckeditor5-list/theme/liststyles.css */

.ck-content ul {
  list-style-type: circle;
}

/* ckeditor5-list/theme/liststyles.css */

.ck-content ul ul {
  list-style-type: disc;
}

/* ckeditor5-list/theme/liststyles.css */

.ck-content ul ul ul {
  list-style-type: square;
}

/* ckeditor5-list/theme/liststyles.css */

.ck-content ul ul ul ul {
  list-style-type: square;
}

/* ckeditor5-mention/theme/mention.css */

.ck-content .mention {
  background: var(--ck-color-mention-background);
  color: var(--ck-color-mention-text);
}

@media print {
  /* ckeditor5-page-break/theme/pagebreak.css */

  .ck-content .page-break {
    padding: 0;
  }

  /* ckeditor5-page-break/theme/pagebreak.css */

  .ck-content .page-break::after {
    display: none;
  }
}

/* ! tailwindcss v3.1.8 | MIT License | https://tailwindcss.com */

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
*/

html {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::-webkit-backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.relative {
  position: relative;
}

.z-0 {
  z-index: 0;
}

.m-2 {
  margin: 0.5rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-10 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mt-20 {
  margin-top: 5rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-14 {
  margin-top: 3.5rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.flex {
  display: flex;
}

.table {
  display: table;
}

.hidden {
  display: none;
}

.h-screen {
  height: 100vh;
}

.min-h-screen {
  min-height: 100vh;
}

.w-\[300px\] {
  width: 300px;
}

.w-2\/6 {
  width: 33.333333%;
}

.w-full {
  width: 100%;
}

.w-11\/12 {
  width: 91.666667%;
}

.w-fit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.w-2\/5 {
  width: 40%;
}

.w-2\/3 {
  width: 66.666667%;
}

.w-96 {
  width: 24rem;
}

.w-40 {
  width: 10rem;
}

.w-10 {
  width: 2.5rem;
}

.flex-grow {
  flex-grow: 1;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.resize-none {
  resize: none;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-1 {
  gap: 0.25rem;
}

.overflow-hidden {
  overflow: hidden;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.rounded-full {
  border-radius: 9999px;
}

.border {
  border-width: 1px;
}

.border-secondary {
  --tw-border-opacity: 1;
  border-color: rgb(90 79 207 / var(--tw-border-opacity));
}

.bg-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(24 24 26 / var(--tw-bg-opacity));
}

.bg-transparent {
  background-color: transparent;
}

.bg-slate-900 {
  --tw-bg-opacity: 1;
  background-color: rgb(15 23 42 / var(--tw-bg-opacity));
}

.bg-highlight {
  --tw-bg-opacity: 1;
  background-color: rgb(41 41 45 / var(--tw-bg-opacity));
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.p-4 {
  padding: 1rem;
}

.px-14 {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-14 {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.text-center {
  text-align: center;
}

.font-barlow {
  font-family: Barlow, sans-serif;
}

.text-5xl {
  font-size: 3rem;
  line-height: 1;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.text-green-200 {
  --tw-text-opacity: 1;
  color: rgb(187 247 208 / var(--tw-text-opacity));
}

.text-slate-300 {
  --tw-text-opacity: 1;
  color: rgb(203 213 225 / var(--tw-text-opacity));
}

.text-red-700 {
  --tw-text-opacity: 1;
  color: rgb(185 28 28 / var(--tw-text-opacity));
}

.underline {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

:root {
  --transition: all 300ms ease;
  --col-primary: rgb(24, 24, 26);
  --col-secondary: rgb(90, 79, 207);
  --col-highlight: rgb(41, 41, 45);
  --col-text: rgb(127, 127, 127);
  --radius-1: 0.3rem;
  --radius-2: 0.5rem;
  --radius-3: 0.8rem;
  --radius-4: 2rem;
  --radius-5: 5rem;
  /* Editor */
  --ck-color-image-caption-background: hsl(0, 0%, 97%);
  --ck-color-image-caption-text: hsl(0, 0%, 20%);
  --ck-color-mention-background: hsla(341, 100%, 30%, 0.1);
  --ck-color-mention-text: hsl(341, 100%, 30%);
  --ck-color-table-caption-background: hsl(0, 0%, 97%);
  --ck-color-table-caption-text: hsl(0, 0%, 20%);
  --ck-highlight-marker-blue: hsl(201, 97%, 72%);
  --ck-highlight-marker-green: hsl(120, 93%, 68%);
  --ck-highlight-marker-pink: hsl(345, 96%, 73%);
  --ck-highlight-marker-yellow: hsl(60, 97%, 73%);
  --ck-highlight-pen-green: hsl(112, 100%, 27%);
  --ck-highlight-pen-red: hsl(0, 85%, 49%);
  --ck-image-style-spacing: 1.5em;
  --ck-inline-image-style-spacing: calc(var(--ck-image-style-spacing) / 2);
  --ck-todo-list-checkmark-size: 16px;
}

html {
  height: 100%;
  box-sizing: border-box;
}

/* @layer base {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: initial;
        font-weight: initial;
    }

    code,
    kbd,
    samp,
    pre {
        font-family: initial;
        font-size: initial;
    }
} */

*,
*:before,
*:after {
  box-sizing: inherit;
}

.singlepost h1,
h2 {
  font-size: 40px;
  font-weight: bold;
}

.singlepost h3 {
  font-size: 35px;
  font-weight: bold;
}

.singlepost h4 {
  font-size: 30px;
}

.singlepost h5 {
  font-size: 28px;
}

.singlepost h6 {
  font-size: 26px;
}

.singplepost-content>ul {
  list-style: initial;
  background-color: red;
}

body {
  /* background: url("../img/background.jpg") no-repeat center center fixed; */
  background: linear-gradient(#141e30, #243b55) no-repeat fixed center;
  background-size: cover;
  color: var(--col-text);
  font-family: "Bellefair", sans-serif;
  position: relative;
}

.footer {
  background-color: var(--col-primary);
  /* padding: 5rem 0 0; */
  /* box-shadow: inset 0 1.5rem 1.5rem rgba(0, 0, 0, 0.2); */
}

form input {
  background-color: var(--col-highlight);
  border: 2px solid var(--col-highlight);
  border-radius: 1rem;
  padding-left: 0.55rem;
}

input:focus {
  /* Use outline 0 instead of none for accessibility. Screenreaders will ignore it if set to none  */
  outline: 0;
}

select {
  color: black;
}

.ck-editor {
  height: 500px;
}

.ck-editor__editable {
  min-height: 400px;
}

/*  Alert Boxes */

.alert-message {
  padding: 0.8rem 1.4rem;
  margin-bottom: 1rem;
  border-radius: var(--radius-2);
}

.alert-message.error {
  background-color: rgba(116, 8, 8, 0.4);
  color: red;
}

.alert-message.success {
  background-color: rgba(0, 128, 0, 0.4);
  color: greenyellow;
}

/* Buttons */

.btn {
  background: var(--col-highlight);
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.btn.green {
  background: green;
  color: whitesmoke;
}

.btn.disabled {
  background: #434343;
  color: whitesmoke;
}

.btn.disabled:hover {
  background: #434343;
  color: whitesmoke;
}

.btn.red {
  background: #9f0000;
  color: black;
}

.btn.red:hover {
  background: red;
}

.btn:hover {
  background: var(--col-secondary)
}

.btn.green:hover {
  background: #05cb05;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 2px #05cb05,
        0 0 10px #05cb05,
        0 0 35px #05cb05,
        0 0 80px #05cb05;
}

input[type="file"] {
  display: none;
}

/* 
Post Listings - Index Page and Blog page
*/

.posts {
  background: var(--col-primary);
  gap: 1rem;
  padding-top: 10rem;
  padding-bottom: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post-article {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.post-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.post-body {
  height: 100%;
  flex-grow: 1;
}

.post-body p {
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.posts h2 {
  color: azure;
  font-weight: 700;
  font-size: x-large;
}

.post-thumbnail {
  max-width: 350px;
  max-height: 350px;
  overflow: hidden;
  border-radius: 3rem 0;
  border: 0.35rem solid var(--col-secondary);
  margin-bottom: 0.85rem;
}

.post-thumbnail img {
  -o-object-fit: cover;
     object-fit: cover;
}

.post-thumbnail:hover img {
  filter: sepia(100%) brightness(80%);
  transition: filter 0.4s ease-in-out;
}

.post-author {
  display: flex;
  gap: 1rem;
  margin-top: 1.2rem;
}

.post-author-avatar {
  width: 3rem;
  height: 3rem;
  border-radius: var(--radius-3);
  overflow: hidden;
}

.post-author-info {
  align-self: flex-end;
}

/* 
Featured Post 
*/

.featured-post {
  background: var(--col-primary);
  display: flex;
  justify-content: center;
  padding: 0.85rem 0.85rem 2rem 0.85rem;
  margin-top: 2.5rem;
}

.featured-post h2 {
  font-weight: 700;
  font-size: x-large;
}

.featured-thumbnail {
  margin-left: auto;
  margin-right: auto;
  border-radius: 3rem 0;
  border: 0.5rem solid var(--col-secondary);
  overflow: hidden;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-width: 20%;
  max-width: 400px;
  max-height: 400px;
}

.featured-thumbnail img {
  -o-object-fit: cover;
     object-fit: cover;
}

.featured-post-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1.5rem;
}

.featured-post-info .post-body {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}

/* Loginform */

.loginform {
  background: rgba(0, 0, 0, .5);
  width: 320px;
  padding: 2rem 2rem 2rem 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-top: 4rem;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
}

.user-box {
  position: relative;
}

.user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  border-radius: 0;
}

/* Singlepost */

.singlepost p {
  margin-top: 1rem;
  line-height: 1.7rem;
}

.singlepost-thumbnail img {
  max-height: 600px;
}

.singlepost-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .post-body {
    white-space: nowrap;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
} */

/* Empty Page */

.empty-page {
  margin: 3rem auto 2rem;
  width: 65%;
  min-height: 650px;
  background: var(--col-primary);
}

.empty-page h1 {
  text-align: center;
  font-size: xx-large;
  font-weight: 800;
  display: grid;
  place-content: center;
}

/* Util */

.shadow-ct {
  box-shadow: 0px 5px 14px 2px rgba(0, 0, 0, 0.37);
}

/* Debug Classes */

.debug-bg {
  background-color: rgba(70, 131, 180, 0.475);
}

.debug-r {
  outline: red solid 1px;
}

.debug-g {
  outline: rgb(5, 226, 9) solid 1px
}

.debug-y {
  outline: rgb(255, 225, 0) solid 1px;
}

/* Mobile Phones  - max 560px*/

@media (max-width: 35em) {
  /* Navigation Bar */

  .nav__profile ul {
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem 0 1rem 0;
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }

  .primary-navigation {
    gap: 2.5em;
    z-index: 1000;
    position: fixed;
    inset: 0 0 0 30%;
    flex-direction: column;
    padding: min(30vh, 10rem) 2em;
    background: hsl(0 0% 100% / .1);
    -webkit-backdrop-filter: blur(1rem);
            backdrop-filter: blur(1rem);
    transform: translateX(100%);
    transition: transform 550ms ease-out;
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    background: url("../img/icon-hamburger.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    width: 2rem;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
    z-index: 9999;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url("../img/icon-close.svg");
  }

  .singlepost {
    width: 95%;
  }

  .singlepost-container {
    width: 100%;
  }

  .featured-thumbnail {
    margin-left: auto;
    margin-right: auto;
    border: 0.25rem solid var(--col-secondary);
    overflow: hidden;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-width: 35%;
    max-width: 400px;
    max-height: 400px;
  }
}

/* Between 560px and  880*/

@media (min-width: 35em) and (max-width: 55em) {
  .primary-navigation a>span[aria-hidden="true"] {
    display: none;
  }
}

/* Minimum 560px */

@media (min-width: 35em) {
  .primary-navigation {
    padding-block: 1.5rem;
    padding-inline: clamp(3rem, 4vw, 6rem);
  }
}

.hover\:underline:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

@media (min-width: 640px) {
  .sm\:mt-0 {
    margin-top: 0px;
  }

  .sm\:text-center {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .md\:mb-0 {
    margin-bottom: 0px;
  }

  .md\:mr-6 {
    margin-right: 1.5rem;
  }

  .md\:block {
    display: block;
  }

  .md\:flex {
    display: flex;
  }

  .md\:w-\[355px\] {
    width: 355px;
  }

  .md\:w-7\/12 {
    width: 58.333333%;
  }

  .md\:w-5\/12 {
    width: 41.666667%;
  }

  .md\:w-3\/6 {
    width: 50%;
  }

  .md\:items-center {
    align-items: center;
  }

  .md\:justify-between {
    justify-content: space-between;
  }

  .md\:p-6 {
    padding: 1.5rem;
  }

  .md\:py-16 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
/*# sourceMappingURL=style.css.map */