@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --transition: all 300ms ease;
}

body {
    background: url("../img/background.jpg") no-repeat center center fixed;
    background-size: cover;
}

.avatar {
    width: 85px;
    height: 85px;
}

.autor {
    max-width: 100px;
}

.text-content {
    -webkit-box-shadow: 0px 5px 14px 2px rgba(0, 0, 0, 0.37);
    box-shadow: 0px 5px 14px 2px rgba(0, 0, 0, 0.37);
}

/* Primary Navigation */

.mobile-nav-toggle {
    display: none;
}

.nav_avatar {
    width: 2.5rem;
    height: 2.5rem;
    border: 0.3rem solid;
}

.nav__profile {
    position: relative;
    cursor: pointer;
}

.nav__profile ul {
    position: absolute;
    top: 115%;
    right: 0;
    display: block;
}



.nav__profile ul[data-visible="false"] {
    display: none;
}

.primary-navigation {
    padding: 0;
    margin: 0;
    margin-top: 0.45rem;
    background: hsl(0 0% 100% / .1);
    backdrop-filter: blur(1rem);
}

.primary-navigation a>[aria-hidden="true"] {

    font-weight: 700;
    margin-inline-end: .35rem;
}

@media (max-width: 35em) {

    .nav__profile ul {
        left: 0;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 1rem 0 1rem 0;
    }


    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }

    .primary-navigation {

        gap: 2.5em;

        z-index: 1000;
        position: fixed;
        inset: 0 0 0 30%;
        flex-direction: column;
        padding: min(30vh, 10rem) 2em;

        background: hsl(0 0% 100% / .1);
        backdrop-filter: blur(1rem);

        transform: translateX(100%);
        transition: transform 550ms ease-out;
    }



    .mobile-nav-toggle {
        display: block;
        position: absolute;
        background: url("../img/icon-hamburger.svg");
        background-repeat: no-repeat;
        background-color: transparent;
        width: 2rem;
        aspect-ratio: 1;

        top: 2rem;
        right: 2rem;

        z-index: 9999;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url("../img/icon-close.svg");
    }

}

@media (min-width: 35em) and (max-width: 55em) {

    .primary-navigation a>span[aria-hidden="true"] {
        display: none;
    }

}

@media (min-width: 35em) {
    .primary-navigation {
        padding-block: 1.5rem;
        padding-inline: clamp(3rem, 4vw, 6rem);
    }
}

/* Debug Classes */

.debug-bg {
    background-color: rgba(70, 131, 180, 0.475);
}

.debug-r {
    outline: red solid 1px;
}

.debug-g {
    outline: rgb(5, 226, 9) solid 1px
}

.debug-y {
    outline: rgb(255, 225, 0) solid 1px;
}