@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --transition: all 300ms ease;

    --body-bg: #0f0530;
    --primary-blue: #0e062b;
    --secondary-blue: #250487;
    --light: #00bbff;
    --light-red: #bb1c45;


    --radius-1: 0.3rem;
    --radius-2: 0.5rem;
    --radius-3: 0.8rem;
    --radius-4: 2rem;
    --radius-5: 5rem;
}

body {
    background: url("../img/background.jpg") no-repeat center center fixed;
    background-size: cover;

    font-family: Bellefair, sans-serif;
    color: azure;

    min-height: 100vh;
    position: relative;
}

footer {
    background-color: var(--primary-blue);
    padding: 5rem 0 0;
    box-shadow: inset 0 1.5rem 1.5rem rgba(0, 0, 0, 0.2);

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

form input {
    background-color: var(--secondary-blue);
    border: 2px solid var(--primary-blue);
    border-radius: 1rem;
    padding-left: 0.55rem;
}

input:focus {
    /* Use outline 0 instead of none for accessibility. Screenreaders will ignore it if set to none  */
    outline: 0;
}

.alert-message {
    padding: 0.8rem 1.4rem;
    margin-bottom: 1rem;
    border-radius: var(--radius-2);
}

.alert-message.error {
    background-color: rgba(116, 8, 8, 0.4);
    color: red;
}

.alert-message.success {
    background-color: rgba(0, 128, 0, 0.4);
    color: greenyellow;
}

.btn {
    background: var(--secondary-blue);
    display: inline-block;
    width: fit-content;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;

    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.btn:hover {
    background: var(--light);
}

input[type="file"] {
    display: none;
}

.avatar {
    width: 85px;
    height: 85px;
}

.autor {
    max-width: 100px;
}

.text-content {
    -webkit-box-shadow: 0px 5px 14px 2px rgba(0, 0, 0, 0.37);
    box-shadow: 0px 5px 14px 2px rgba(0, 0, 0, 0.37);
}

/* Primary Navigation */

.mobile-nav-toggle {
    display: none;
}

.nav_avatar {
    width: 2.5rem;
    height: 2.5rem;
    border: 0.3rem solid;
}

.nav__profile {
    position: relative;
    cursor: pointer;
}

.nav__profile ul {
    position: absolute;
    top: 115%;
    right: 0;
    display: block;
}

.nav__profile ul li {
    opacity: 0;
    animation: animateDropdown 800ms 0s ease forwards;
    transform-origin: top;
}

.nav__profile ul li:nth-child(2) {
    animation-delay: 500ms;
}


@keyframes animateDropdown {

    0% {
        transform: rotateX(90deg);
    }

    100% {
        transform: rotate(0deg);
        opacity: 1;
    }

}



.nav__profile ul[data-visible="false"] {
    display: none;
}

.primary-navigation {
    padding: 0;
    margin: 0;
    margin-top: 0.45rem;
    background: hsl(0 0% 100% / .1);
    backdrop-filter: blur(1rem);
}

.primary-navigation a>[aria-hidden="true"] {

    font-weight: 700;
    margin-inline-end: .35rem;
}


/* Mobile Phones  - max 560px*/
@media (max-width: 35em) {

    /* Navigation Bar */

    .nav__profile ul {
        left: 0;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 1rem 0 1rem 0;
    }


    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }

    .primary-navigation {

        gap: 2.5em;

        z-index: 1000;
        position: fixed;
        inset: 0 0 0 30%;
        flex-direction: column;
        padding: min(30vh, 10rem) 2em;

        background: hsl(0 0% 100% / .1);
        backdrop-filter: blur(1rem);

        transform: translateX(100%);
        transition: transform 550ms ease-out;
    }



    .mobile-nav-toggle {
        display: block;
        position: absolute;
        background: url("../img/icon-hamburger.svg");
        background-repeat: no-repeat;
        background-color: transparent;
        width: 2rem;
        aspect-ratio: 1;

        top: 2rem;
        right: 2rem;

        z-index: 9999;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url("../img/icon-close.svg");
    }


    .singlepost {
        width: 95%;
    }

    .singlepost-container {
        width: 100%;
    }

}



/* Between 560px and  880*/
@media (min-width: 35em) and (max-width: 55em) {

    .primary-navigation a>span[aria-hidden="true"] {
        display: none;
    }
}

/* Minimum 560px */
@media (min-width: 35em) {
    .primary-navigation {
        padding-block: 1.5rem;
        padding-inline: clamp(3rem, 4vw, 6rem);
    }
}


/* 
Category Button
*/

.category-button {
    background: var(--secondary-blue);
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: 600;
    font-size: 0.8rem;
    text-align: center;
}

.category-button:hover {
    color: white;
}

/* 
 Posts
*/

.post-thumbnail {
    border-radius: 3rem 0;
    border: 0.5rem solid var(--primary-blue);
    overflow: hidden;
    margin-bottom: 1.4rem;




    object-fit: contain;
}

.post-thumbnail img {
    /* To get object-fit working we need to scale the image to 100%*/
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post-thumbnail:hover img {
    /* filter: saturate(0); */
    filter: sepia(100%) brightness(80%);
    transition: filter 0.5s ease;
}

.post-author {
    display: flex;
    gap: 1rem;
    margin-top: 1.2rem;
}

.post-author-avatar {
    width: 3rem;
    height: 3rem;
    border-radius: var(--radius-3);
    overflow: hidden;
}


/* Featured */

.featured-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

}

.featured .post-thumbnail {
    height: fit-content;
}



/* Posts */


.posts-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    margin-bottom: 5rem;
}


/* Singlepost */

.singlepost p {
    margin-top: 1rem;
    line-height: 1.7rem;
}



/* Empty Page */

.empty-page {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    width: 95%;
    height: 80vh;
    background: var(--primary-blue);
}

.empty-page h1 {
    text-align: center;
    font-size: xx-large;
    font-weight: 800;
    display: grid;
    place-content: center;
}













/* Util */

.shadow-ct {
    box-shadow: 0px 5px 14px 2px rgba(0, 0, 0, 0.37);
}



/* Debug Classes */

.debug-bg {
    background-color: rgba(70, 131, 180, 0.475);
}

.debug-r {
    outline: red solid 1px;
}

.debug-g {
    outline: rgb(5, 226, 9) solid 1px
}

.debug-y {
    outline: rgb(255, 225, 0) solid 1px;
}